:root {
    --primary: #ddd;
    --dark: rgb(116, 106, 106);
    --light: rgb(243, 234, 234);
    --light-blue: rgb(169, 222, 222);
    --black: rgb(74, 82, 82);
    --shadow: 4px 5px 10px rgba(43, 42, 42, 0.8);
    --title-color: rgb(135, 125, 116);
    --light-dark: rgb(223, 215, 215);
    --question-color:  rgb(248, 217, 190);
}


body {
    width: 100vw;
    height: 100vh;
}


.main-container {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px; */
    grid-template: 50px 1fr 1fr 100px / repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div {
    /* border: 1px dashed; */
    padding: 10px;

}

.header {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: var(--light-blue);
}

.content-large {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}

.content-small {
    grid-row-start: 2;
    grid-row-end: 5;
    box-shadow: var(--shadow);

}

.content-footer {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: var(--dark);
    color: white;
}

.search-item {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.search-item:hover {
    background: var(--dark);
}

.content-smaller {
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
    width: auto;
    height: 250px;
    background: rgb(146, 146, 223);
    color: white;
    box-shadow: var(--shadow);

}


.list-group-flush {
    margin-top: 15px;
}


.main-card {
    display: grid;
    gap: 10px;
    grid-template-areas: 
            'big-screen day-1 day-2'
            'big-screen day-3 day-4';
}

.big-screen {
    grid-area: big-screen; 
    box-shadow: var(--shadow);  
}

.day-1 {
    grid-area: day-1;   
}

.day-2 {
    grid-area: day-2;   
}

.day-3 {
    grid-area: day-3;   
}

.day-4 {
    grid-area: day-4;   
}

